<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Enviar</title>
  <style>
    .navbar{
      background: linear-gradient(90deg, rgba(255,222,89,1) 0%, rgba(255,145,77,1) 100%);
    }
    .container{
      margin-left: 10%;
    }
    .login{
      background-color: white;
      color: black;

    }
    .form-group1{
      padding-top: 1.5%;
    }
    .save{
      margin-left: 8%;
    }
    .botao{
      margin-top: 1%;
      margin-right: 5%;
      color: black;
    }
    .inicial{
      margin-left: 5%;
    }

  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/savegame.png"  width="40" height="40"/>Save Room
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="!usuario; then thenBlock else elseBlock" class="collapse navbar-collapse ml-auto" id="navbarSupportedContent"></div>
    <ng-template #thenBlock >
      <div class="ml-auto">
        <button class="btn btn-outline-success me-2 login " routerLink="/login" type="button">Login</button>
      </div>
    </ng-template>
    <ng-template #elseBlock >
      <div class="ml-auto">
        <button *ngIf="usuarioAtt.admin == 'ADMIN'" class="btn btn-outline-success me-2 login" routerLink="/requisicoes" type="button">Requisições</button>
        <button  class="btn btn-outline-success me-2 login" routerLink="/conta" type="button">{{usuarioAtt.nome}}</button>
        <button  class="btn btn-outline-success me-2 login" (click)="logout()" type="button">Logout</button>
      </div>
    </ng-template>
  </div>
</nav>
<div class="row inicial">
  <a routerLink="/requisicoes"><- Voltar para as requisições</a>
</div>
<div class="container">

  <div class="row login">
    <h2>Requisição do save</h2>
  </div>
  <div class="row justify-content-center">
    <form #saveForm="ngForm" class="needs-validation">
      <div class="form-group1 row">
        <label for="console" class="col-form-label col-sm-1">Console*</label>
        <div ngbDropdown class="d-inline-block col-md-2">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            {{save.nomeConsole}}
          </button>
          <div class="text-danger" *ngIf="validacaoConsole == true" >Escolha um console</div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="w-100">
            <button ngbDropdownItem [value]="save.nomeConsole">{{save.nomeConsole}}</button>

          </div>
        </div>
        <label for="formFile" class="form-label col-sm-2 save" >Arquivo de Save enviado*</label>
        <div class="col-md-5">
          <button type="button" class="btn btn-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
              <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
            </svg>
            {{save.arquivo}}
          </button>
        </div>
      </div>
      <div class="form-group1 row">
        <label for="jogo" class="col-form-label col-md-1" aria-describedby="jogoHelp">Jogo*</label>
        <div ngbDropdown class="d-inline-block col-md-3">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>
            {{save.nomeJogo}}
          </button>
          <div *ngIf="validacaoJogo == true" class="text-danger">Escolha um jogo ou adicione um</div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="w-100">
            <button ngbDropdownItem [value]="save.nomeJogo"  >{{save.nomeJogo}}</button>
          </div>
          <div id="jogoHelp" class="form-text">escolha um console para escolher o jogo</div>
        </div>
        <div class="col-md-5">
          <input [(ngModel)]="save.requisicao_nomeJogo" type="text" class="form-control" id="addjogo" name="addjogo" placeholder="Nome do jogo que quer adicionar" >
          <div id="emailHelp" class="form-text">Não encontrou? Deixe como nenhum destes e adicione o jogo</div>
        </div>
      </div>
      <div class="form-group1 row">
        <div class="mb-3 col-md-6">
          <label for="resumo" class="col-form-label" >Resumo do estado do save(onde está no jogo)*</label>
          <input [(ngModel)]="save.resumo" class="form-control" type="text" id="resumo" name="resumo">
          <div *ngIf="validacaoResumo == true" class="text-danger">Esse campo não pode estar vazio</div>
        </div>
      </div>
      <div class="form-group row">
        <div class="mb-3 col-md-6">
          <label for="emuladores" class="col-form-label" >Emulador(es) usado(s)*</label>
          <input [(ngModel)]="save.emuladores" class="form-control" type="text" id="emuladores" name="emuladores" required="true">
          <div *ngIf="validacaoEmuladores == true" class="text-danger">Esse campo não pode estar vazio</div>
        </div>
      </div>
      <div class="form-group row">
        <div class="mb-3 col-md-6">
          <label for="descricao" class="form-label">Descrição mais detalhada do save*</label>
          <textarea [(ngModel)]="save.descricao" class="form-control" id="descricao" name="descricao" rows="3"></textarea>
          <div *ngIf="validacaoDescricao == true" class="text-danger">Esse campo não pode estar vazio</div>
        </div>
      </div>
      <div class="d-flex justify-content-center row">
      <button (click)="DeletarSave(save.id_save)" type="submit" class="btn btn-danger col-md-2 botao">Cancelar requisição</button>
      <button  type="submit" class="btn btn-primary col-md-2 botao">Confirmar requisição</button>
      </div>
    </form>
  </div>


</div>
</body>
</html>
<router-outlet></router-outlet>
